@use "../../scss/abstracts/" as *;

.comment {
  margin: 1rem 2rem;

  &__author {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__box {
    padding: 1rem;
    background-color: rgb(226, 232, 237);
    margin-left: 1rem;
    border-radius: 10px;
    text-align: left;

    &__name {
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

  &__actions {
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 5rem;
    font-size: 0.8rem;
  }

  &__action {
    margin-right: 1rem;
  }

  &__react,
  &__reply {
    cursor: pointer;
  }
}
