@use "../../scss/abstracts/" as *;

.post-comment-form {
  margin: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-comment-form > .avatar {
  width: 10%;
}

.comment-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 90%;
}

.comment-input > input {
  min-width: 80%;
  margin-right: 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.comment-input > button {
  outline: none;
  background-color: rgba(68, 50, 208, 0.7);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid white;
}

.comment-input > button:hover {
  background-color: rgba(85, 71, 195, 0.7);
  transition: all 0.3s ease;
}