@use "../../../scss/abstracts/" as *;

.notification {
  @include flex(center, flex-start);
  padding: 0.5rem;
  margin: 0.5rem;

  &:hover {
    background-color: rgba($color: #ccc8c8, $alpha: 0.1);
    transition: all 0.1s ease-in-out;
  }

  &__image {
    & > img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }

  &__content {
    font-size: 1rem;
    margin-left: 1rem;
    @include flex(center, space-between);

    &__createdAt {
      font-size: 0.8rem;

      &.notSeen {
        font-weight: 500;
        color: rgb(84, 84, 238);
      }
    }

    &__blue-dot {
      padding: 0.3rem;
      border-radius: 50%;
      background-color: rgb(84, 84, 238);
    }
  }
}
