@use "../../scss/abstracts/" as *;

.box-notification {
  color: black;
  width: 25rem;
  height: 80vh;
  overflow-y: scroll;
  position: absolute;
  top: $topNavHeight;
  right: -7rem;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transform: scale(0);
  transform-origin: 17.5rem 0;
  transition: all 0.3s ease;

  &.show {
      background-color: white;
      transform: scale(1);
      transition: all 0.3s ease;
  }
}