@use "../../scss/abstracts/" as *;

.post {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  max-width: 45rem;
  box-shadow: 1px 2px 15px -7px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 1px 2px 15px -7px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 1px 2px 15px -7px rgba(0, 0, 0, 0.79);

  &__top {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__author {
      @include flex(center, space-between);

      &__right {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;

        &__name {
          font-size: 1rem;
          font-weight: 600;
        }

        &__info {
          @include flex(center, flex-start);

          &__date-created {
            font-size: 0.8rem;
            font-weight: 400;
            margin-right: 1rem;
          }

          &__audience {
            opacity: 0.2;
          }
        }
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    margin: 0 2rem;
    padding-bottom: 1rem;

    &__medias {
      background-color: white;
    }
    &__media > img {
      // min-width: 10rem;
      // max-width: 15rem;
      max-width: 20rem;
      border: 0.2px solid rgba($color: #000000, $alpha: 0.1);
      padding: 1rem;
    }
  }

  &__react {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left,
    &__right {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }

    &__left {
      &__icon {
        @include flex(center, center);

        & > * ~ * {
          margin-left: 0.5rem;
        }

        & > div {
          cursor: pointer;
        }
        
        & > .heart {
          fill: red;
        }

        & > .like {
          fill: blue;
        }
      }
      &__number {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }

    &__right {
      &__shares {
        margin-left: 1rem;
      }
    }
  }

  & > hr {
    margin: 0 5%;
    margin-bottom: 1rem;
  }

  .avatar > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(68, 50, 208, 0.7);
  }
}

.sub-comment {
  margin-left: 2rem;
}

.typing {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 2rem;
}
