@use "../../scss/abstracts/" as *;

.topNav {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: $topNavHeight;
  @include flex(center, space-between);
  transition: all 0.2s ease;
  background-color: $oceanColor;
  color: $white;

  &__logo {
    cursor: pointer;
    min-width: $sidebarWidth;
    padding-left: 1.3rem;
    border-radius: 1px solid rgba(0, 0, 0, 0.1);
    @include flex(center, flex-start);

    &__text {
      font-size: x-large;
      font-weight: 700;
      padding-left: 0.5rem;
    }
  }

  &__content {
    &__right {
      @include flex(center, center);
      padding-left: 1rem;
      padding-right: 1.5rem;
    }

    &__right {
      & > * ~ * {
        padding-left: 1.5rem;
      }

      &__notification,
      &__envelope {
        @include flex(center, center);
        position: relative;
        font-size: 1.6rem;
        font-weight: 100;
        cursor: pointer;

        @include tablet {
          font-size: 1.5rem;
        }

        @include mobile {
          font-size: 1.5rem;
        }

        &__badge {
          position: absolute;
          top: -30%;
          left: 50%;
          font-size: 0.8rem;
          width: 1.5rem;
          height: 1.5rem;
          background-color: red;
          color: white;
          border-radius: 50%;
          @include flex(center, center);
        }
      }

      &__user {
        @include flex(center, center);
        cursor: pointer;

        & > img {
          --size: 30px;
          width: var(--size);
          height: var(--size);
          border-radius: 50%;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }
}
