<p>You've had new interactions in the past week:</p>
<table>
  <% for(var i=0; i < locals.content.length; i++) { %>
  <tr>
    <td><%= locals.content[i].Type %></td>
    <td><%= locals.content[i].Number %></td>
  </tr>
  <% } %>
</table>
<p>Keep interacting to connect with people, and have fun moments!</p>
