@use '../scss/abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: $fontFamily;
    // color: $white;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    // background-color: $mainBg;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

.title-page {
    padding-left: $spacing;
    font-size: large;
    margin-bottom: 1rem;
}

// Form input data
.form-input {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;

        &.grid-1-column {
            grid-template-columns: repeat(1, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            &__text {
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
            }

            &__input {
                border: none;
                background-color: rgba($color: #a89d9d, $alpha: 0.1);
                width: 100%;
                height: 3rem;
                padding: 0 1rem;
                font-size: 0.9rem;
                font-weight: 600;
                outline: none;
                border-radius: 3px;

                &.file {
                    border: none;
                    background-color: white;
                    width: 100%;
                    height: 1.5rem;

                    &:focus {
                        outline: none;
                    }

                    &:disabled {
                        cursor: not-allowed;
                    }
                }

                &:focus {
                    outline: 2px solid rgb(76, 76, 223);
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }

    &__btnUpdate {
        margin-top: 2rem;

        & > button {
            border: none;
            outline: none;
            padding: 1rem 2rem;
            background-color: rgb(76, 76, 223);
            color: white;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.box-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.main-page {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $topNavHeight;
    padding: 1.5rem;
}

.box-item-layout {
    padding: 2rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    background-color: white;
}
